#caja{
    background-color: #F8F8F8;
    width: 65vw;
    mix-blend-mode: darken;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    padding-bottom: 25px;
    padding-right: 30px;
    margin-top: 5%;
    margin-left: 30%;
    cursor: default;
}
.caja>span{
    margin-left: 10%;
}
#flechaCaja{
    position: relative;
    left: 20px;
    top: 10px;
}
#tituloCaja{
    position: relative;
    top: 15px;
    left: 20px;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    color: black;
}
#precioEnTokens{
    position: relative;
    top: 15px;
    left: 30px;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10%;
    color: black;
}
#descripcionCaja, #contenido{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    color: black;
}
#boton{
    background-color: #F8F8F8;
    border: none;
}

.boton-Editar{
    /* margin-top: 2%; */
    /* margin-left: 50%; */
    margin-left: 42%;
    /* position: fixed; */
}
.boton-Agregar{
    /* height: 10%; */
    width: 20%;
    margin-left: 30%;
}
.cajasFormulario{
    margin-top: 6%;

}
.formularioCaja{
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
}
.botonFormulario{
    margin-left: 5%;
    margin-top: 2%;
}
/* .contenedor{
    margin-left: 30%;
} */
