/* #main{
    border: 1px solid black;
} */
th{
    font-size: 25px;
}
#ppp{
    display: inline-block;
}
#contenido{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#cUser{
    display: flex;
    justify-content: space-between;
}
#myInput{
    width: 50%;
}
.userBox{
    background-color: #F8F8F8;
    width: 50vw;
    mix-blend-mode: darken;
    /* opacity: 0.7; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    /* filter: blur(2px); */
    padding-bottom: 25px;
    padding-right: 30px;
    cursor: default;
    margin-bottom: 40px;
}

.userEBox{
    padding-top: 30px;
    padding-left: 30px;
}

.eUser{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cajaUE{
    display: flex;
    justify-content: space-between;
}
.checkUser{
    height: 20px;
    width: 20px;
}
.pagination{
    display: flex;
    justify-content: end;
}
#tabla_filter{
    display: flex;
    justify-content: end;
}
#tabla_length>label{
    display: flex;
    flex-direction: row;
}
#tabla_length>label>select{
    width: 65px;
    margin-left: 10px;
    margin-right: 10px;
}
.row:first-of-type, .row:last-of-type{
    display: flex;
    align-items: center;
}